/* Login.css */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../public/bg.png");
  background-color: #000000;
  background-repeat: no-repeat;
}

.register-form {
  background-color: #e3dcd0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px; /* Lebar form register */
}

.register-header {
  color: #333;
  text-align: center;
}

.register-group {
  margin-bottom: 15px;
}

.btn-info {
  background-color: #6a636a; /* Ganti dengan warna tombol yang diinginkan */
  width: 100%; /* Lebar tombol */
  height: 40px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-info:hover {
  background-color: #a18347; /* Ganti dengan warna hover tombol yang diinginkan */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-link {
  text-align: center;
  margin-top: 15px;
}

.login-link a {
  color: #000000; /* Ganti dengan warna yang diinginkan */
  font-weight: bold;
  text-decoration: none; /* Menghilangkan garis bawah pada link */
}

.login-link a:hover {
  text-decoration: underline;
}
